.contacts {
  background-color: #2879FE;
  color: white;
  padding: 15px;
  display: flex;
  justify-content: center;
}

.contacts .wrapper {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.contacts .wrapper input {
  padding: 10px;
  border: none;
  border-radius: 5px 0 0 5px;
  outline: none;
}

.contacts .wrapper button {
  padding: 10px;
  background-color: #333;
  color: white;
  border: none;
  border-radius: 0 5px 5px 0;
  outline: none;
  cursor: pointer;
}

.media-icons {
  display: flex;
  gap: 10px;
}
